html {
  position:relative;
  height: 100%;
}

body {
  height: 100%;
}

#splash {
  background: url('/img/miley-bg.jpeg') top center no-repeat;
  top: 0; left: 0; right: 0;
  height: 300px;
}

#splash h1 {
  float: bottom;
  font-size: 3em;
  padding: 180px 0 0 20px;
  margin: 0;
  letter-spacing: 2em;
}

#miley-head {
  color: #EC028C;
}

#ipsum-head {
  color: #41239E;
}

.container {
  background: linear-gradient(to bottom, #ffc09d 0%,#6958dc 100%);
  padding-top: 24px;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100%;
}

#ipsum-button {
  text-align: center;
  height: 32px;
  color: white;
  font-size: 1.2em;
  background-color: #41239E;
  width: 400px;
  margin: 0 auto;
  border-radius: 4px;
  padding-top:8px;
}

#ipsums {
  color: #41239E;
  font-size: 1.6em;
  margin: 40px auto;
  width: 600px;
  height: 400px;
  line-height: 1.5em;
}

th {
  /*text-align: left;*/
}
