<div id='splash'>
   <h1>MILEY IPSUM</h1>
   <img src="img/Miley_ipsum_full.png">
 </div>

 <div class="container">
   <div id='lyrics'>
     <div id='ipsum-button'>Can't Stop <br>Won't Stop.</div>
     <div id='ipsums'></div>
   </div>
 </div>
