<div id='splash'>
  <h1><span id='miley-head'>MILEY</span><br>
  <span id='ipsum-head'>IPSUM</span></h1>
  <table>
  </table>
</div>

<div class="container">
  <div id='ipsum-button'>Can't Stop. Won't Stop.</div>
  <div id='ipsums'></div>
</div>
